html, body {
    height:100%;
}

body {
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    color: #595d64
}

.custom-header {
    background-color: #272727;
    min-height: 62px;
}

.custom-footer {
    background-color: #272727;
    font-size: 0.65rem;
    /*font-size: 10px;*/
}

.custom-padding {
    padding: 0 186px;
}

.custom-subheader {
    color: #ffffff;

    position: relative;

    background: url("./assets/images/subheader.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 0;
    padding-bottom: 150px;
}

.custom-subheader-name {
    font-size: 4rem;
    /*font-size: 66px;*/
}

.custom-subheader-services {
    font-size: 2rem;
    /*font-size: 24px;*/
}

.custom-white-text {
    color: #ffffff;
}

.btn-primary {
    background-color: #b1976b;
    border-color: #b1976b;
    border-radius: 0;
    text-transform: uppercase;
    padding: 18px 65px;

}

.btn-primary:hover {
    background-color: #c5a265;
    border-color: #c5a265;
    border-radius: 0;
}

.btn-primary:focus {
    background-color: #c5a265;
    border-color: #c5a265;
}

.btn-outline-primary {
    background-color: transparent;
    color: #b1976b;
    border-radius: 0;
    border-color: transparent;
}

.btn-outline-primary:hover {
    background-color: transparent;
    color: #c5a265;
    border-color: #c5a265;
}

.btn-outline-primary:focus {
    background-color: transparent;
    color: #c5a265;
    border-color: #c5a265;
    box-shadow: 0 0 0 0.2rem #c5a265;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: transparent;
    color: #c5a265;
    border-color: #c5a265;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem #c5a265;
}

label {
    margin: 0;
}

.nav-link {
    color: #ffffff;
    font-size: 1.1rem;
    /*font-size: 18px;*/
    text-transform: uppercase;
}

.nav-link:hover {
    color: #bcbbbb;
}

.form-control {
    border-radius: 0;
}

.custom-nav-link {
    min-width: 125px;
}

.custom-disclaimer {
    background-color: #b1976b;
    font-size: 0.85rem;
}

.custom-table-tr {
    font-size: 0.8rem;
}

.custom-table-td-75 {
    width: 75%;
}

.custom-table-td-25 {
    width: 25%;
}

.custom-service-header-label {
    text-transform: uppercase;
    font-weight: bold;
}

.custom-services-header-label {
    text-transform: uppercase;
}

.custom-contact-me {
    background: linear-gradient(#565656, #565656), url("./assets/images/contactme.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: darken;
    min-height: 550px;
}


.custom-contact-me-label {
    color: #b1976b;
    text-transform: uppercase;
    font-weight: bold;
}

.custom-contacts {
    background-color: #b1976b;
    color: #ffffff;
}

.custom-contacts-details {
    font-size: 0.85rem;
    /*font-size: 12px;*/
}

.custom-whoami-text-p {
    font-size: 0.9rem;
    /*font-size: 18px;*/
    line-height: 1.4rem;
}

@media(max-width: 992px) {
    .custom-padding {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media(max-width: 768px) {
    .custom-padding {
        padding-left: 30px;
        padding-right: 30px;
    }

    .custom-header {
        /*font-size: 14px;*/
        position: fixed;
        position: -ms-device-fixed;
        top: 0;
        /*padding-bottom: 100px;*/

        z-index: 100;
    }

    .custom-subheader {
        padding-top: 62px;
        padding-bottom: 62px;
    }

    .custom-header-cons-button {
        display: none;
    }
}

@media(max-width: 576px) {
    .custom-subheader-name {
        font-size: 2.5rem;
        /*font-size: 36px;*/
    }

    .custom-disclaimer {
        background-color: #b1976b;
        font-size: 0.7rem;
    }

    .custom-table-tr {
        font-size: 0.7rem;
    }

    .custom-subheader-services {
        font-size: 1.25rem;
    }

    /*.custom-subheader {*/
    /*    padding: 62px 5px;*/
    /*}*/

    .custom-padding {
        padding-left: 8px;
        padding-right: 8px;
    }

    /*.custom-header {*/
        /*padding-bottom: 50px;*/
        /*padding-top: 62px;*/
    /*}*/
}





